@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(255, 255, 255, 0.61);
    -webkit-border-radius: 100px;
}

/*
    Framework
*/

.center {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

input, button {
    color: black;
    cursor: pointer;
}

input::placeholder {
    color: grey;
    text-align: center;
}

h1,
button {
    font-weight: 500;
}

i {
    color: white !important;
}

/* 
    Background 
*/

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: Gradient 15s ease infinite;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: 0.5s ease;
    overflow: hidden;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*
    Main
*/
input[type="date"],
input[type="time"],
input[type="text"],
.name,
.calculate {
    cursor: pointer;
}

input[type="date"] {
    margin-right: 8px;
    margin: 5px;
    height: 20px;
}

input[type="date"]:nth-child(1),
input[type="date"]:nth-child(1) {
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 5px;
    width: 100px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 550px;
    min-height: 650px;
    max-height: 650px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    padding: 15px;
    margin: 10px;
    overflow: auto;
    text-align: center;
    display: none;
}

.name {
    width: 200px;
    margin-bottom: 10px;
}

.result {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.75);
    min-width: 100%;
    min-height: 150px;
}

.result button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15pt;
    color: white;
}

.result button.selected {
    color: grey;
}

.calculate {
    font-size: 20pt;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: Gradient 15s ease infinite;
    transition: 0.5s;
}

.clearHistory {
    font-size: 20pt;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    margin: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: Gradient 15s ease infinite;
    transition: 0.5s;
    cursor: pointer;
}

.calculate:hover,
.result button:hover,
.clearHistory:hover {
    scale: 1.1;
}

.calculate:active, .clearHistory:active {
    scale: 0.9;
    transition: 0.2s;
}

.result button {
    transition: 0.5s;
}

.history {
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.4s;
}

.history:hover {
    filter: brightness(0.7);
}

.instructions {
    width: 550px;
    min-height: 650px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    background-color: black;
    padding: 15px;
    margin: 10px;
}

.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions > i {
    margin: 10px;
    padding: 10px;
}

.instructions > .initalize > button, .next-instructions, .last-instructions {
    font-size: 20pt;
    background: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    width: 140px;
    margin: 5px;
    transition: 0.5s;
}

.initalize {
    opacity: 1;
    transition: 0.5s;
}

.skip-instructions, .last-instructions {
    color: rgb(180, 180, 180) !important;
    border: 3px solid rgb(180, 180, 180) !important;
}

.skip-instructions > i, .last-instructions > i {
    color: rgb(180, 180, 180) !important;
}

.instructions > .initalize > button:hover, .next-instructions:hover, .last-instructions:hover {
    filter: brightness(0.7)
}

.instructions > .display {
    opacity: 0;
    transition: 0.5s;
}

.dir {
    margin-top: 25px;
}